.pizzaCard {
  position: relative;
  height: 400px;

  &-img {
    position: relative;
    width: 70%;
    object-fit: contain;
    left: 50%;
    top: 8%;
    transform: translateX(-50%);
  }

  &-title {
    text-align: center;
    font-size: 22px;
  }

  &-controls {
    @include flex-column;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 2px;
    margin: 20px 0;
    border: 0.1px solid transparent;

    &.shake {
      border: 0.1px solid $color-orange;
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    }

    &--top,
    &--second {
      @include flex-row-space;

      span {
        width: 100%;
        font-weight: bold;
        text-align: center;
        padding: 8px 3px;
        margin: 5px;
        height: 100%;
        border-radius: 5px;
        user-select: none;
        transition: all 0.3s;

        &.active {
          background: #fff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-add {
    @include flex-row-space;
    align-items: center;

    h3 {
      font-size: 22px;
    }

    button {
      border: 1px solid $color-orange;
      border-radius: 30px;
      background: #fff;
      color: $color-orange;
      padding: 10px 30px;
      padding-left: 45px;
      font-weight: bold;
      font-size: 16px;
      position: relative;

      &::before {
        content: "+";
        position: absolute;
        top: 8px;
        left: 20px;
        font-size: 20px;
      }

      &:hover {
        cursor: pointer;
        color: #fff;
        background: $color-orange;
      }
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
