@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-space {
  @include flex-row();
  justify-content: space-between;
}

@mixin flex-column-space {
  @include flex-column();
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// media
@mixin media-desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
